.p-grid {
  margin: 5px !important;
}

input[type="search"] {
  padding: 5px;
  width: 50vw;
}


@keyframes ui-progress-spinner-color {
  100%,
  0% {
    stroke: #d62d20;
  }
  40% {
    stroke: #0057e7;
  }
  66% {
    stroke: #008744;
  }
  80%,
  90% {
    stroke: #ffa700;
  }
}
