/* You can add global styles to this file, and also import other style files */


html, body { height: 100%; }
body { font-family: Roboto, "Helvetica Neue", sans-serif;background:honeydew }
.p-3 {
    padding: 3px;
}
.p-5 {
  padding:5px
}

.m-20 {
    margin:20px;
}

.image-card {
  display :flex;
  align-items: center;
  justify-content:center
}

.box {
            background-color: #cce4f7;
            text-align: center;
            padding-top: 1em;
            padding-bottom: 1em;
            border-radius: 4px;
        }

.text-danger {
  color: red
}

.float-right {
  float:right
}

.margin-auto {
  margin:auto
}

.card-width div.ui-card {
  width: 100vw !important;
}
.card-height div.ui-card {
  height: 35vh !important;
}